body {
  background-color: #ffffff;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  text-align: center;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: #fbc547;
  }
}

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}

.main-header {
  font-family: Helvetica;
  color: #47525c;
}

.section-header {
  font-family: Helvetica;
  color: #fbc547;
}

.typeform-flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;

  .typeform-item {
    padding-top: 20px;
  }
}

.footer {
  padding-top: 50px;
}
