body {
  background-color: #ffffff;
  color: #47525c;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  text-align: center;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: #fbc547;
  }
}

@media screen and (max-width: 950px) {
  .container {
    display: inline-block;
    position: relative;
    width: 100%;
  }
}

.main-header {
  font-family: Helvetica;
  color: #47525c;
  padding-bottom: 40px;
}

.header-description {
  font-family: Helvetica;
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
  color: #47525c;
}

.header-subtitle {
  font-family: Helvetica;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  color: #fbc547;
  font-size: 1.4rem;
  padding: 45px 0 45px 0;
}

.content-container {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;

  // for iOS 8
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  display: -webkit-flex;
  //
}

.section-header {
  font-family: Helvetica;
  color: #47525c;
}

p {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

.quote {
  font-style: italic;
  padding-bottom: 20px;
}

.highlight {
  color: #fbc547;
}

.icon {
  float: left;
  padding-right: 10px;
}

.chart {
  margin: 0 auto;
}

.typeform-flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;

  .typeform-item {
    padding-top: 20px;
  }
}

.footer {
  padding-top: 50px;

  p {
    text-align: center;
  }
}