---
title: Better Code Reviews
---

<h1 class="main-header">Better Code Reviews</h1>

<h2 class="main-header">Feedback</h2>

<h2 class="main-header">Everyone</h2>

<h2 class="main-header">Comments</h2>

<h2 class="main-header">Ego</h2>




<hr/>


<div class="typeform-flex-container">
  <div class="typeform-item">
    <a class="typeform-share button" href="https://vaidehi.typeform.com/report/tl7MX5/I4Jm" data-mode="popup" data-hide-headers=true data-hide-footer=true style="display:inline-block;text-decoration:none;background-color:#47525c;color:white;cursor:pointer;font-family:Helvetica, Arial, sans-serif;font-size:24px;line-height:60px;text-align:center;margin:0;height:60px;padding:0px 40px;border-radius:9px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank" > View results </a> <script> (function() { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://s3-eu-west-1.amazonaws.com/share.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "share.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>
  </div>

  <div class="typeform-item">
    <a class="typeform-share button" href="https://vaidehi.typeform.com/to/tl7MX5" data-mode="popup" data-hide-headers=true data-hide-footer=true style="display:inline-block;text-decoration:none;background-color:#47525c;color:white;cursor:pointer;font-family:Helvetica, Arial, sans-serif;font-size:24px;line-height:60px;text-align:center;margin:0;height:60px;padding:0px 40px;border-radius:9px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank" > Take the survey </a> <script> (function() { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://s3-eu-west-1.amazonaws.com/share.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "share.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>
  </div>
</div>







<!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 340" class="middleman-logo" aria-labelledby="middleman-logo__title" role="img">
  <title id="middleman-logo__title">Middleman</title>
  <path class="middleman-logo__top-left-bar" fill-opacity=".45" d="M0 40L200 0v30L0 60z"/>
  <path class="middleman-logo__top-right-bar" fill="#fff" d="M200 0l200 40v20L200 30z"/>
  <path class="middleman-logo__left-m" fill-opacity=".45" d="M0 78v184l45 5V152l45 83 47-83v129l53 7V52l-57 8-43 83-43-70z"/>
  <path class="middleman-logo__right-m" fill="#fff" d="M400 78v184l-45 5V152l-45 83-47-83v129l-53 7V52l57 8 43 83 43-70z"/>
  <path class="middleman-logo__bottom-left-bar" fill-opacity=".45" d="M0 300l200 40v-30L0 280z"/>
  <path class="middleman-logo__bottom-right-bar" fill="#fff" d="M200 340l200-40v-20l-200 30z"/>
</svg>

<h1>
  Middleman is Running
</h1>

<%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>
 -->